#############################################################\
#  User Configurable options for nurfana                       ---_- 
#  Copy this file to m.config and modify                            \
#                                                                     ---
#  This gets included by the makefile,so trivial things like          /  \
#  trailing spaces can potentially cause issues                       /   \
###########################################################################




####################################
## phased array related settings  ##
####################################
# Enable Phased-Array Support
HAVE_NUPHASEROOT:=yes

# Note that this only sets it if not defined in environment
NUPHASE_INSTALL_DIR?=/usr/local

# Include directory for nuphaseroot
NUPHASEROOT_INCDIR:=${NUPHASE_INSTALL_DIR}/include

# Lib directory for nuphaseroot 
NUPHASEROOT_LIBDIR:=${NUPHASE_INSTALL_DIR}/lib


##########################
## ARA related settings ##
##########################
# Enable AraRoot support
HAVE_ARAROOT:=no

## Note that this only sets it if not defined in environment
ARA_UTIL_INSTALL_DIR?=/usr/local

## ARA include directory
ARAROOT_INCDIR:=${ARA_UTIL_INSTALL_DIR}/include

## ARA lib directory
ARAROOT_LIBDIR:=${ARA_UTIL_INSTALL_DIR}/lib


############################
## Installation  Settings ##
############################
# Prefix for make install (and also rpath gets set here)
PREFIX:=${NUPHASE_INSTALL_DIR}


##################################
# Compilation / Linking options  #
#  experts only                  #
##################################
## c++ compiler (will be overwritten by environment) 
CXX?=g++

## optional compilation flags, like optimization flags, additional debug flags
CXXFLAGS:= -march=native -Os -ftree-vectorize -g -flto -Werror 
## optional linker flags 
LDFLAGS:= -flto -g -Os 


##################################################
############3rd party library settings ############
###################################################3

### ROOT SETUP### 
ROOTCLING:=`root-config --bindir`/rootcling 
ROOT_INCDIR:=`root-config --incdir` 
ROOT_LIBS:=`root-config --glibs` 

### GSL Settings###
GSL_INCDIR := `pkg-config --variable=includedir gsl`
GSL_LIBS := `pkg-config --libs gsl` 

###FFTW3 settings###
FFTW3_INCDIR:=`pkg-config --variable=includedir fftw3`
FFTW3_LIBS:= `pkg-config --libs fftw3` 


